{% extends "base.html" %}
{% block content %}
<form action="/login" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">아이디</span>
      </div>
      <input type="text" class="form-control" placeholder="id" aria-label="Username" aria-describedby="basic-addon1" name="id">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">비밀번호</span>
      </div>
      <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1" name="password">
    </div>

    <button type="submit" class="btn btn-primary">로그인</button>
</form>

{% endblock %}